:host {
  .card_category_container {
    display: grid;
    gap: .5rem;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    
    .card_category {
      display: flex;
      padding: 8px 12px;
      padding: 8px 12px;
      gap: 0.5rem;
      justify-content: space-between;
      align-items: center;
      background: var(--bs-border-color-translucent);
      border-radius: .5rem;
      background: var(--bs-border-color-translucent);
      border-radius: .5rem;

      .category_infos {
        border-radius: 0.2rem;
        border-left-style: solid;
        border-left-width: 5px;
        padding: 6px 10px;
        display: flex;
        gap: 0.25rem;
        flex-direction: column;
  
        .title {
          font-weight: 600;
          font-size: 1rem;  
          color: var(--bs-gray-300);
        }
        
        .type {
          color: var(--bs-gray-500);
          font-weight: 400;
          font-size: .9rem;
        }
      }

      &:hover {
        border-radius: .5rem;
        background: var(--bs-gray-800);
      }
    }
  }
}