<div class="d-flex justify-content-between align-items-center">
  <h2>Categorias</h2>
  <p-button
    icon="pi pi-plus"
    [outlined]="true"
    label="Nova Categoria"
    (onClick)="abrirModalAddCategoria()"
  ></p-button>
</div>

<hr />

<p-table [value]="categorias" [tableStyle]="{ 'min-width': '50rem' }">
  <ng-template pTemplate="header">
    <tr>
      <th>Categoria</th>
      <th>Cor</th>
      <th>Tipo da Categoria</th>
      <th>&nbsp;</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-categoria>
    <tr>
      <td>{{ categoria.cat_nome }}</td>
      <td>
        <div class="d-flex align-items-center g-4">
          <span
            class="color_circle"
            [style.background-color]="categoria.cat_cor"
          ></span>
          <span>{{ categoria.cat_cor }}</span>
        </div>
      </td>
      <td>
        <div class="chip">
          {{ categoria.cat_tip_nome }}
        </div>
      </td>
      <td class="d-flex justify-content-end">
        <div *ngIf="categoria.usr_id !== null; else isNotEditable">
          <button
            pButton
            pRipple
            type="button"
            icon="pi pi-pencil"
            (click)="editarCategoria(categoria)"
            class="p-button-rounded p-button-text p-button-primary"
          ></button>

          <button
            pButton
            pRipple
            type="button"
            icon="pi pi-trash"
            (click)="deletarCategoria(categoria)"
            class="p-button-rounded p-button-text p-button-danger"
          ></button>
        </div>

        <ng-template #isNotEditable>&nbsp;</ng-template>
      </td>
    </tr>
  </ng-template>
</p-table>
<p-confirmDialog></p-confirmDialog>
