<fin-wrap-container [className]="'w-100 d-flex justify-between'">
  <fin-logo />
  <form [formGroup]="filterDateForm">
    <p-calendar
      view="month"
      class="calendar_filter"
      dateFormat="MM"
      [showIcon]="true"
      formControlName="month_selected"
    ></p-calendar>
  </form>
  <div class="d-flex flex-column justify-content-center">
    <p-avatar
    (click)="menu.toggle($event)"
    label="EC"
    size="normal"
    shape="circle"
    ></p-avatar>
    <p-menu #menu [model]="menuBarItems" appendTo="body" [popup]="true"></p-menu>
  </div>
</fin-wrap-container>
