<fin-wrap-container [className]="'w-100 d-flex justify-between'">
  <fin-logo />
  @if (canShowDatePicker$ | async) {
    <p-calendar
      view="month"
      class="calendar_filter"
      dateFormat="MM"
      [showIcon]="true"
      [(ngModel)]="month_selected"
      (ngModelChange)="onDateChange($event)"
    ></p-calendar>
  }
  <div class="d-flex flex-column justify-content-center">
    <p-avatar
    (click)="menu.toggle($event)"
    [label]="userInitials"
    size="normal"
    shape="circle"
    ></p-avatar>
    <p-menu #menu [model]="menuBarItems" appendTo="body" [popup]="true"></p-menu>
  </div>
</fin-wrap-container>
