<form [formGroup]="formAddCategoria">
  <coinz-column
    >
    <coinz-input-form type="text" label="Título" placeholder="Digite um título" formControlName="cat_nome" />
    
    <div class="d-flex flex-column g-4">
      <label>Tipo:</label>
      <p-select
        formControlName="cat_tip_id"
        [options]="tipoOptions"
        optionLabel="text"
        optionValue="id"
        appendTo="body"
        placeholder="Selecione um tipo"
    />
    </div>
    
    <div class="d-flex flex-column g-4">
      <label for="input_cor">Cor:</label>
      <div class="d-flex flex-column">
        <p-colorPicker id="input_cor" appendTo="body" formControlName="cat_cor"></p-colorPicker>
        
        @if(formAddCategoria.controls['cat_cor'].touched || formAddCategoria.controls['cat_cor'].dirty){
          <div class="text-start">
            @if(formAddCategoria.controls['cat_cor']?.errors?.['required']){
              <small class="text-danger text-start">Campo obrigatório.</small>
            }
          </div>
        }
      </div>
    </div>
    
    <p-button label="Salvar" [loading]="isLoading()" (onClick)="inserirOuAtualizarCategoria()"></p-button>
  </coinz-column>
</form>
