<form [formGroup]="formAddCategoria">
  <fin-column
    >
    <fin-input-form type="text" label="Título" placeholder="Digite um título" formControlName="cat_nome" />
    
    <div class="d-flex flex-column g-4">
      <label>Tipo:</label>
      <p-select
        formControlName="cat_tip_id"
        [options]="tipoOptions"
        optionLabel="text"
        optionValue="id"
        appendTo="body"
        placeholder="Selecione um tipo"
    />
    </div>
    
    <div class="d-flex flex-column g-4">
      <label for="input_cor">Cor:</label>
      <fin-row>
        <p-colorPicker id="input_cor" appendTo="body" formControlName="cat_cor"></p-colorPicker>
      </fin-row>
    </div>
    
    <p-button label="Salvar" [loading]="isLoading" (onClick)="inserirOuAtualizarCategoria()"></p-button>
  </fin-column>
</form>
