<h2>Transações</h2>
<hr />
<p-table [value]="transacoes" [tableStyle]="{ 'min-width': '50rem' }">
  <ng-template pTemplate="header">
    <tr>
      <th>Tipo de Transação</th>
      <th>Título</th>
      <th>Valor</th>
      <th>Categoria</th>
      <th>Data Transação</th>
      <th>Metódo</th>
      <th></th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-transacao>
    <tr>
      <td>
        <div class="chip">
          {{ transacao.tipo_transacao }}
        </div>
      </td>
      <td>{{ transacao.trs_titulo }}</td>
      <td>{{ transacao.trs_valor | currency : "R$ " }}</td>
      <td>
        <div
          class="chip"
          [ngStyle]="{ 'background-color': transacao.categoria_cor }"
        >
          {{ transacao.categoria_nome }}
        </div>
      </td>
      <td>{{ transacao.trs_data_ocorrido | date : "dd/MM/yyyy" }}</td>
      <td>{{ transacao.metodo }}</td>
      <td class="d-flex">
        <button
          pButton
          pRipple
          type="button"
          icon="pi pi-pencil"
          (click)="editarTransacao(transacao)"
          class="p-button-rounded p-button-text p-button-primary"
        ></button>

        <button
          pButton
          pRipple
          type="button"
          icon="pi pi-trash"
          (click)="deletarTransacao(transacao)"
          class="p-button-rounded p-button-text p-button-danger"
        ></button>
      </td>
    </tr>
  </ng-template>
</p-table>
<p-confirmDialog></p-confirmDialog>
