<fin-column>
  <fin-row>
    <fin-wrap-container [ngClass]="'flex-1'">
      <div class="d-flex g-4 align-items-center">
        <div class="card-title">Entradas</div>
        <i class="pi pi-arrow-up-right"></i>
      </div>
      <p class="card-subtitle">
        {{ somatorio.soma_receitas || 0 | currency : "R$ " }}
      </p>
    </fin-wrap-container>

    <fin-wrap-container [ngClass]="'flex-1'">
      <div class="d-flex g-4 align-items-center">
        <div class="card-title">Saldo</div>
        <i class="pi pi-arrows-h"></i>
      </div>
      <p class="card-subtitle">
        {{
          somatorio.soma_receitas - somatorio.soma_despesas || 0
            | currency : "R$ "
        }}
      </p>
    </fin-wrap-container>

    <fin-wrap-container [ngClass]="'flex-1'">
      <div class="d-flex g-4 align-items-center">
        <div class="card-title">Saídas</div>
        <i class="pi pi-arrow-down-right"></i>
      </div>
      <p class="card-subtitle">
        {{ somatorio.soma_despesas || 0 | currency : "R$ " }}
      </p>
    </fin-wrap-container>
  </fin-row>
  <fin-wrap-container [ngClass]="'w-100'">
    <h2>Transações</h2>
    <hr />
    <p-table
      [value]="transacoes"
      [tableStyle]="{ 'min-width': '50rem', 'max-width': '100vw' }"
    >
      <ng-template pTemplate="header">
        <tr>
          <th>Tipo de Transação</th>
          <th>Título</th>
          <th>Valor</th>
          <th>Categoria</th>
          <th>Data Transação</th>
          <th>Metódo</th>
          <th></th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-transacao>
        <tr>
          <td>
            <div class="chip">
              {{ transacao.tipo_transacao }}
            </div>
          </td>
          <td>{{ transacao.trs_titulo }}</td>
          <td>{{ transacao.trs_valor | currency : "R$ " }}</td>
          <td>
            <div
              class="chip"
              [ngStyle]="{ 'background-color': transacao.categoria_cor }"
            >
              {{ transacao.categoria_nome }}
            </div>
          </td>
          <td>{{ transacao.trs_data_ocorrido | date : "dd/MM/yyyy" }}</td>
          <td>{{ transacao.metodo }}</td>
          <td class="d-flex">
            <button
              pButton
              pRipple
              type="button"
              icon="pi pi-pencil"
              (click)="editarTransacao(transacao)"
              class="p-button-rounded p-button-text p-button-primary"
            ></button>

            <button
              pButton
              pRipple
              type="button"
              icon="pi pi-trash"
              (click)="deletarTransacao(transacao)"
              class="p-button-rounded p-button-text p-button-danger"
            ></button>
          </td>
        </tr>
      </ng-template>
    </p-table>
    <p-confirmDialog></p-confirmDialog>
  </fin-wrap-container>
</fin-column>
