<div class="text-center auth-container">
  <div class="auth-content">
    <img src="../../../../assets/logo for auth.png" width="250px" alt="" />

    <form [formGroup]="formAuthenticator">
      <fin-column>
        <div class="d-flex flex-column g-4">
          <label for="input_valor">Email:</label>
          <input
            id="input_valor"
            pInputText
            formControlName="auth_email"
            placeholder="Insira seu email."
          />
          @if(formAuthenticator.controls['auth_email'].touched ||
          formAuthenticator.controls['auth_email'].dirty){
          <div class="text-start">
            @if(formAuthenticator.controls['auth_email']?.errors?.['email']){
            <small class="text-danger text-start">Email inválido.</small>
            }
            @if(formAuthenticator.controls['auth_email']?.errors?.['required']){
            <small class="text-danger text-start">Email obrigatório.</small>
            }
          </div>
          }
        </div>

        <div class="d-flex flex-column g-4">
          <label for="input_valor">Senha:</label>
          <p-password
            formControlName="auth_password"
            [toggleMask]="true"
            [feedback]="false"
            placeholder="Insira sua senha"
          ></p-password>
          @if(formAuthenticator.controls['auth_password'].touched ||
          formAuthenticator.controls['auth_password'].dirty){
          <div class="text-start">
            @if(formAuthenticator.controls['auth_password']?.errors?.['required']){
            <small class="text-danger text-start">Senha obrigatória.</small>
            }
          </div>
          }
        </div>

        <a class="register-link" (click)="_router.navigate(['/register'])"
          >Não possui uma conta? Criar agora.</a
        >

        <p-button
          label="Entrar"
          class="d-flex justify-content-end"
          (onClick)="autenticarUsuario()"
        ></p-button>
      </fin-column>
    </form>
  </div>
</div>
