:host {
  #logo {
    display: none;

    // Ajustes para tablet (768px a 1023px)
    @media (min-width: 768px) and (max-width: 1023px) {
      display: block;
    }

    // Ajustes para desktop (1024px ou mais)
    @media (min-width: 1024px) {
      display: block;
    }
  }
}