<div class="text-center auth-container">
  <div class="auth-content">
    <img src="../../../../assets/logo for auth.png" width="250px" alt="" />

    <form [formGroup]="formAuthenticator">
      <fin-column>
        @if(authType === 'register'){
          <div class="d-flex flex-column g-4">
            <label for="input_valor">Nome:</label>
            <input
              id="input_valor"
              pInputText
              formControlName="auth_name"
              placeholder="Insira seu nome"
            />
            @if(formAuthenticator.controls['auth_name'].touched ||
            formAuthenticator.controls['auth_name'].dirty){
            <div class="text-start">
              @if(formAuthenticator.controls['auth_name']?.errors?.['pattern']){
              <small class="text-danger text-start">Formato inválido.</small>
              }
              @if(formAuthenticator.controls['auth_name']?.errors?.['required']){
              <small class="text-danger text-start">Campo obrigatório.</small>
              }
            </div>
            }
          </div>
        }

        <div class="d-flex flex-column g-4">
          <label for="input_valor">Email:</label>
          <input
            id="input_valor"
            pInputText
            formControlName="auth_email"
            placeholder="Insira seu email."
          />

          @if(formAuthenticator.controls['auth_email'].touched ||
          formAuthenticator.controls['auth_email'].dirty){
          <div class="text-start">
            @if(formAuthenticator.controls['auth_email']?.errors?.['email']){
            <small class="text-danger text-start">Email inválido.</small>
            }
            @if(formAuthenticator.controls['auth_email']?.errors?.['required']){
            <small class="text-danger text-start">Email obrigatório.</small>
            }
          </div>
          }
        </div>

        <div class="d-flex flex-column g-4">
          <label for="input_valor">Senha:</label>
          <p-password
            formControlName="auth_password"
            [toggleMask]="true"
            [feedback]="false"
            placeholder="Insira sua senha"
            autocomplete="new-password"
          ></p-password>

          @if(formAuthenticator.controls['auth_password'].touched ||
          formAuthenticator.controls['auth_password'].dirty){
          <div class="text-start">
            @if(authType === 'register' && formAuthenticator.controls['auth_password']?.hasError(
            'minlength')){
            <small class="text-danger text-start"
              >Sua senha deve conter no minímo 8 caracteres.</small
            >
            }
            @if(formAuthenticator.controls['auth_password']?.errors?.['required']){
            <small class="text-danger text-start">Senha obrigatória.</small>
            }
          </div>
          }
        </div>

        <a 
          class="register-link"
          aria-hidden="true"
          (click)="redirectPage()"
        >
          {{ authType === 'register' ? 'Já possuo uma conta.' :  'Não possui uma conta? Criar agora.' }} 
        </a>
        
        <p-button
          [label]="authType === 'register' ? 'Cadastrar' : 'Entrar'"
          class="d-flex justify-content-end"
          (onClick)="autenticarUsuario()"
        ></p-button>

        <fin-social-buttons [context]="authType" />

      </fin-column>
    </form>
  </div>
</div>
