@if(transacoes.length){
<p-table
  #dt
  id="tbl_transacoes"
  [value]="transacoes"
  selectionIntevalRows
  [rowSelected]="rowSelected"
  [transacoes]="transacoes"
  (selectionChange)="updateSelectionRows($event)"
  dataKey="trs_id"
  [tableStyle]="{ 'min-width': '50vw', 'max-width': '100vw' }"
  selectionMode="multiple"
  [(selection)]="rowSelected"
  [paginator]="true"
  [rows]="10"
  [showCurrentPageReport]="true"
  currentPageReportTemplate="Exibindo {last} de {totalRecords} resultados."
  [rowsPerPageOptions]="[5, 10, 25]"
  [globalFilterFields]="[
    'trs_titulo',
    'trs_valor',
    'trs_data_ocorrido',
    'trs_ano_ocorrido',
    'trs_mes_ocorrido',
    'metodo_nome',
    'categoria_nome'
  ]"
>
  <ng-template pTemplate="caption">
    <div class="filter_container">
      <div class="filter_container_options">
        <p-iconfield>
          <p-inputicon styleClass="pi pi-search" />
          <input
            #inputSearch
            pInputText
            type="text"
            (input)="applyFilterGlobal($event, 'contains')"
            placeholder="Pesquisa"
          />
        </p-iconfield>
        @if(inputSearch.value.length){
          <button pButton class="p-button-outlined" icon="pi pi-filter-slash" (click)="clear(dt)">&nbsp;</button>
        }
        
        <div class="filter_container_options_selects">
          <p-select
            [options]="categoriasOptions()"
            [showClear]="true"
            [(ngModel)]="selectedCategory"
            (ngModelChange)="clear(dt); applyFilterGlobal($event)"
            appendTo="body"
            placeholder="Categoria"
          />
          <p-select
            [options]="metodosOptions()"
            [showClear]="true"
            [(ngModel)]="selectedMetodo"
            (ngModelChange)="clear(dt); applyFilterGlobal($event)"
            appendTo="body"
            placeholder="Método"
          />
        </div>
      </div>

      <div class="rows_selected_info">
        @if(rowSelected.length){
          <span>Total: <b>{{ sumSelected(rowSelected) | currency : "R$" }}</b></span>
        }
        
        @if(rowSelected.length > 1){
          <button pButton class="p-button-danger" (click)="deletarTransacoes()">Deletar</button>
        }
      </div>
    </div>
  </ng-template>

  <ng-template pTemplate="header">
    <tr>
      <th>
        <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
      </th>
      <th>Tipo</th>
      <th pSortableColumn="trs_titulo">
        Título
        <p-sortIcon field="trs_titulo"></p-sortIcon>
      </th>
      <th pSortableColumn="trs_valor">
        Valor
        <p-sortIcon field="trs_valor"></p-sortIcon>
      </th>
      <!-- <th>Parcela</th> -->
      <!-- <th pSortableColumn="trs_status">
          Status <p-sortIcon field="trs_status"></p-sortIcon>
        </th> -->
      <th pSortableColumn="categoria_nome">
        Categoria
        <p-sortIcon field="categoria_nome"></p-sortIcon>
      </th>
      <th pSortableColumn="trs_data_ocorrido">
        Data
        <p-sortIcon field="trs_data_ocorrido"></p-sortIcon>
      </th>
      <th pSortableColumn="metodo_nome">
        Metódo
        <p-sortIcon field="metodo_nome"></p-sortIcon>
      </th>
      <th>&nbsp;</th>
    </tr>
  </ng-template>

  <ng-template pTemplate="body" let-transacao let-rowData>
    <tr [pSelectableRowDisabled]="true" [pSelectableRow]="rowData">
      <td>
        <p-tableCheckbox [value]="transacao"></p-tableCheckbox>
      </td>
      <td>
        <span class="tipo_despesa" [ngClass]="transacao.id_tipo_transacao === 2 ? 'danger' : 'success'">
          {{ transacao.id_tipo_transacao === 2 ? "D" : "R" }}
        </span>
      </td>
      <td>{{ transacao.trs_titulo }}</td>
      <td>
        <div class="d-flex flex-column gap-1">
          {{ transacao.trs_valor | currency : "R$ " }}
          @if(transacao.total_parcelas > 1){
            <span class="parcela">Parcela {{ transacao.trs_num_parcela }}/{{ transacao.total_parcelas }}</span>
          } @else {
            &nbsp;
          }
        </div>
      </td>
      <!-- <td>
      </td> -->
      <!-- <td>
          <span
            class="ellipsis"
            tooltipPosition="top"
            [pTooltip]="checkStatus(transacao)"
            [ngClass]="
              transacao.trs_status ? 'ellipsis-success' : 'ellipsis-danger'
            "
          ></span>
        </td> -->
      <td>
        <div class="chip" [ngStyle]="{ 'background-color': transacao.categoria_cor }">
          {{ transacao.categoria_nome }}
        </div>
      </td>
      <td>{{ transacao.trs_data_ocorrido | date : "dd/MM" }}</td>
      <td>{{ transacao.metodo_nome }}</td>
      <td class="d-flex flex-1">
        <button
          pButton
          pRipple
          type="button"
          icon="pi pi-pencil"
          size="small"
          (click)="editarTransacao(transacao)"
          class="p-button-rounded p-button-text p-button-primary"
        >
          &nbsp;
        </button>

        <button
          pButton
          pRipple
          type="button"
          icon="pi pi-trash"
          size="small"
          (click)="deletarTransacao(transacao)"
          class="p-button-rounded p-button-text p-button-danger"
        >
          &nbsp;
        </button>
      </td>
    </tr>
  </ng-template>
</p-table>
} @else {
<fin-alert-container message="Nenhum registro encontrado." />
}
