<fin-wrap-container [className]="'w-100 d-flex justify-between'">
  <fin-logo />
  @if (isShowDatePicker$ | async) {
    <p-datepicker
      view="month"
      class="calendar_filter"
      dateFormat="MM"
      [showIcon]="true"
      [(ngModel)]="month_selected"
      (ngModelChange)="onDateChange($event)"
    ></p-datepicker>
  }
  <div class="d-flex justify-content-center align-items-center gap-2">
    <p-splitButton label="Adicionar" size="small" (onClick)="openModalAdd(1)" [model]="items_transacao" />  

    <p-avatar
    (click)="menu.toggle($event)"
    [label]="userInitials"
    size="normal"
    shape="circle"
    ></p-avatar>
    <p-menu #menu [model]="items_menu" appendTo="body" [popup]="true"></p-menu>
  </div>
</fin-wrap-container>