  <div class="wrap-container">
    <coinz-logo />
    <div>
    <p-datepicker
    view="month"
    class="calendar_filter"
    dateFormat="MM"
    [showIcon]="true"
    [(ngModel)]="month_selected"
    (ngModelChange)="onDateChange($event)"
    ></p-datepicker>
  </div>
  <div class="d-flex align-items-center gap-2">
    <p-avatar
    (click)="menu.toggle($event)"
    [label]="userInitials"
    size="normal"
    shape="circle"
    ></p-avatar>
    <p-menu #menu [model]="items_menu" appendTo="body" [popup]="true"></p-menu>
  </div>
</div>