:host {
  .cards_container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 8px;
  }
  
  ::ng-deep {
    .p-accordion {
      .p-accordion-content {
        border: none;
        background: #252b33;
      }
      .p-accordion-header .p-accordion-header-link {
        background: var(--bs-dark);
        border: none;
      }
    }
  }
}
