<fin-column class="w-100">
  <fin-row>
    <fin-top-card
      [title]="'Entradas'"
      [value]="somatorio()['soma_receitas']"
      [isCurrency]="true"
      [icon]="iconsCard['entrada']"
      class="flex-1"
    ></fin-top-card>

    <fin-top-card
      [title]="'Saldo'"
      [value]="saldo()"
      [isCurrency]="true"
      [icon]="iconsCard['saldo']"
      class="flex-1"
    ></fin-top-card>

    <fin-top-card
      [title]="'Saídas'"
      [value]="somatorio()['soma_despesas']"
      [isCurrency]="true"
      [icon]="iconsCard['saida']"
      class="flex-1"
    ></fin-top-card>
  </fin-row>

  <p-accordion>
    <p-accordionTab
      [disabled]="transacoes.length !== 0"
      header="Gráficos por categoria"
    >
      <fin-column>
        @if((transacoesPorCategoria?.entradas | keyvalue)?.length || (transacoesPorCategoria?.saidas |
        keyvalue)?.length){
        <fin-row>
          @if((transacoesPorCategoria?.entradas | keyvalue)?.length){
          <div class="wrap-container chart">
            <h3>Entradas por categoria</h3>
            <div class="d-block w-100">
              <fin-pie-chart-categoria [chartData]="transacoesPorCategoria.entradas" />
            </div>
          </div>
          } @if((transacoesPorCategoria?.saidas | keyvalue)?.length){
          <div class="wrap-container chart">
            <h3>Saídas por categoria</h3>
            <div class="d-block w-100">
              <fin-pie-chart-categoria [chartData]="transacoesPorCategoria.saidas" />
            </div>
          </div>
          }
        </fin-row>
        }
        <fin-row>
          @if(comparativoAnual){
          <div class="wrap-container chart">
            <h3>Comparativo mensal</h3>
            <div class="d-block w-100">
              <fin-bar-chart-anual [chartData]="comparativoAnual" />
            </div>
          </div>
          }
        </fin-row>
      </fin-column>
    </p-accordionTab>
  </p-accordion>

  <fin-wrap-container [ngClass]="'w-100'">
    <h2>Transações</h2>
    <hr />
    @if(transacoes().length){
    <fin-transacao-table
      [transacoes]="transacoes()"
      [rowSelected]="rowSelected()"
    />
    } @else if(!transacoes().length) {
    <fin-alert-container message="Nenhum registro encontrado." />
    }
  </fin-wrap-container>
</fin-column>
