<coinz-column class="w-100">
  <div class="cards_container">
    <coinz-top-card
      [value]="somatorio()['soma_receitas']"
      [isCurrency]="true"
      icon="pi pi-arrow-up-right"
      title="Entradas"
      class="flex-1"
    ></coinz-top-card>
  
    <coinz-top-card
      [value]="somatorio()['saldo']"
      [isCurrency]="true"
      [icon]=""
      title="Saldo"
      class="flex-1"
    ></coinz-top-card>
  
    <coinz-top-card
      [value]="somatorio()['soma_despesas']"
      [isCurrency]="true"
      icon="pi pi-arrow-down-left"
      class="flex-1"
      title="Saídas"
    ></coinz-top-card>
  </div>

  <p-accordion [value]="['0']">
    <p-accordion-panel value="0" #accordionClicked [disabled]="transacoes.length !== 0">
      <p-accordion-header>Gráficos por categoria</p-accordion-header>
      <p-accordion-content>
        @if(chartsPreference$ | async; as chartsPreference){ @defer (on interaction(accordionClicked)) {
        <coinz-column>
          @if((transacoesPorCategoria['entradas'] | keyvalue)?.length || (transacoesPorCategoria['saidas'] |
          keyvalue)?.length){
          <coinz-row>
            @if((transacoesPorCategoria['entradas'] | keyvalue)?.length && chartsPreference["entradas_por_categoria"]){
            <div class="wrap-container pie-chart">
              <h3>Entradas por categoria</h3>
              <div class="d-block w-100">
                <coinz-pie-chart-categoria [chartData]="transacoesPorCategoria['entradas']" />
              </div>
            </div>
            } @if((transacoesPorCategoria['saidas'] | keyvalue)?.length && chartsPreference["saidas_por_categoria"]){
            <div class="wrap-container pie-chart">
              <h3>Saídas por categoria</h3>
              <div class="d-block w-100">
                <coinz-pie-chart-categoria [chartData]="transacoesPorCategoria['saidas']" />
              </div>
            </div>
            }
          </coinz-row>
          }
          <coinz-row>
            @if((chartsPreference["saidas_por_metodo"] | keyvalue)?.length && saidasPorMetodo &&
            chartsPreference["saidas_por_metodo"]){
            <div class="wrap-container pie-chart">
              <h3>Saídas por Método</h3>
              <div class="d-block w-100">
                <coinz-pie-chart-categoria [chartData]="saidasPorMetodo" />
              </div>
            </div>
            }
          </coinz-row>

          <coinz-row>
            @if(comparativoAnual && chartsPreference["comparativo_mensal"]){
            <div class="wrap-container chart">
              <h3>Comparativo mensal</h3>
              <div class="d-block w-100">
                <coinz-bar-chart-anual [chartData]="comparativoAnual" />
              </div>
            </div>
            }
          </coinz-row>
        </coinz-column>
        } }
      </p-accordion-content>
    </p-accordion-panel>
  </p-accordion>

  <coinz-wrap-container [ngClass]="'w-100'">
    <coinz-table-header title="Transações" />
    <coinz-transacao-table [transacoes]="transacoes()" [rowSelected]="rowSelected()" />
  </coinz-wrap-container>
</coinz-column>
