@import "bootstrap/dist/css/bootstrap-grid.css";
@import "bootstrap/dist/css/bootstrap-utilities.css";
@import "primeng/resources/themes/lara-dark-purple/theme.css";
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";

@import "./sizes/";
@import "./flex/";

body {
  height: calc(100% - 16px);
  margin: 0;
  padding: 16px;
}

/* Chrome, Edge and Safari */
*::-webkit-scrollbar {
  height: 5px;
  width: 7px;
}
*::-webkit-scrollbar-track {
  border-radius: 3px;
  background-color: #dfe9eb;
}

*::-webkit-scrollbar-track:hover {
  background-color: #b8c0c2;
}

*::-webkit-scrollbar-track:active {
  background-color: #b8c0c2;
}

*::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: #a78bfa;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: #7864b4;
}

*::-webkit-scrollbar-thumb:active {
  background-color: #69579d;
}

.ellipsis {
  border-radius: 50%;
  width: 15px;
  height: 15px;
  justify-content: center;
  text-align: center;
  margin: auto;
  display: flex;
}
.ellipsis-danger {
  background-color: red;
}
.ellipsis-success {
  background-color: green;
}
.p-paginator {
  justify-content: end !important;
}

// primeira letra maiúscula da coluna `título`
#tbl_transacoes {
  table > tbody > tr:nth-child(2) > td:nth-child(3) {
    &::first-letter {
      text-transform: uppercase;
    }
  }
}
