@import "bootstrap/dist/css/bootstrap-grid.css";
@import "bootstrap/dist/css/bootstrap-utilities.css";
@import "primeng/resources/themes/mdc-dark-indigo/theme.css";
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";

@import "./sizes/";
@import "./flex/";

body {
  height: calc(100% - 16px);
}
.ellipsis {
  border-radius: 50%;
  width: 15px;
  height: 15px;
  justify-content: center;
  text-align: center;
  margin: auto;
  display: flex;
}
.ellipsis-danger {
  background-color: red;
}
.ellipsis-success {
  background-color: green;
}